<a class="btn btn-default" (click)="returnClicked();">« Return</a>
<a class="btn btn-default" (click)="editClicked();">Edit</a>

<h1>{{heading}}</h1>

<div style="margin-top:20px;margin-bottom:10px;" *ngIf="numKeys(explains).length > 0">
	To do this we will need:
	<br>
	
	<ul style="margin-top:10px">
		<li *ngFor="let key of explains | explainsValues" >
			<b>{{key}}: </b> {{explains[key]}}
		</li>
	</ul>
</div>

<a style="color:#333;text-decoration:none;" [innerHTML]="exampleDescription"></a>

<br>

<pre style="float:left;margin-top:20px;width:100%;" *ngIf="example != null">
<code style="font-family:monospace">{{example}}</code>
</pre>

<div style = "margin-top:10px;float:left;" [innerHTML] = "extra"></div>